[user]
	name = yhaguri
	email = hy.vb10@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[alias]
  # status
	st = status

  # add
	a  = add
	aa = add .

	# checkout
	co  = checkout
  cob = checkout -b

  # commit
	c   = commit
	cm  = commit -m
  cem = commit --allow-empty -m
			
  # diff
	d  = diff
	dm = diff master
	dd = diff development

  # branch
	br = branch
	
	hist = log --pretty=format:\\\"%h %ad | %s%d [%an]\\\" --graph --date=short

[core]
	editor = vim -c \"set fenc=utf-8\"
